header {
  background-color: hsl(50, 33%, 25%);
  color:  white;
  text-align: center;
}

body {
  margin: 0;
  background-image:
    linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("record.png");
  background-repeat: round;
}

main {
  background-color: #d3d3d3;
  padding: 1em;
}

p:hover {
  color: rebeccapurple;
  font-weight: 500;
}
input:required {
  border: 3px solid #33;
}
input:optional {
  margin: 2rem;
}
input:checked {
  margin: 4rem;
}
p:last-of-type {
  font-size: 2rem;
}
br:empty {
  line-height: 4rem;
}

/*
p::selection {
  background-color: yellow;
  color: red;
}
p::first-letter {
  font-size: 3rem;
}
p::first-line {
  color: blue;
}
p::after {
  content: "😀";
  padding-left: 1rem;
}
*/
